<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Email Sending Examples</title>
</head>
<body>
<div align="center">
	<h1>Spring Boot Email Sending Examples</h1>
	<h2><a th:href="@{/send_text_email}">Send Plain Text Email</a></h2>
	<h2><a th:href="@{/send_html_email}">Send HTML Email</a></h2>
	<h2><a th:href="@{/send_email_attachment}">Send HTML Email with Attachment</a></h2>
	<h2><a th:href="@{/send_email_inline_image}">Send HTML Email with Inline Image</a></h2>
</div>
</body>
</html>